body {
    background: #F8FE01;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.login-container {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 150px;
    margin-top: 30px;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 25px;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #555;
    border-radius: 12px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}
